
abstract=This ontology has been designed in conjunction with the IMDEA Energy Institute of Madrid. To generate the bases of this vocabulary, the "Artleafs" project has been used as a basis, which consists of a web platform to collect information on experiments in the field of photocatalysis to enable and facilitate the reproducibility of the processes explained in scientific articles.
ontologyTitle=The Photocatalysis Ontology
ontologyPrefix=[Ontology NS Prefix]
ontologyNamespaceURI=http://base.namespace.com/
ontologyName=The Photocatalysis Ontology
thisVersionURI=null
latestVersionURI=http://base.namespace.com/
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=0.5.3
licenseURI=https://creativecommons.org/licenses/by/4.0/
licenseName=https://creativecommons.org/licenses/by/4.0/
licenseIconURL=null
citeAs=Oier Beaskoetxea. The Photocatalysis Ontology. Revision: 0.5.3.
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=null
publisherURI=null
publisherInstitution=null
publisherInstitutionURI=null
authors=Oier Beaskoetxea
authorsURI=
authorsInstitution=
authorsInstitutionURI=
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.rdf
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.jsonld
